name: FromDoppler

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  dotnet:
    name: Continuous Integration
    uses: FromDoppler/.github/.github/workflows/dotnet.yml@main
  nuget:
    if: ${{ github.event_name == 'push' }}
    name: Continuous Delivery
    uses: FromDoppler/.github/.github/workflows/continuous-delivery-nuget.yml@main
